In [2]:
!pip install pandas
!pip install matplotlib
!pip install seaborn

Collecting pandas
  Using cached https://files.pythonhosted.org/packages/08/ec/b5dd8cfb078380fb5ae9325771146bccd4e8cad2d3e4c72c7433010684eb/pandas-1.0.1-cp36-cp36m-manylinux1_x86_64.whl
Collecting pytz>=2017.2 (from pandas)
  Using cached https://files.pythonhosted.org/packages/e7/f9/f0b53f88060247251bf481fa6ea62cd0d25bf1b11a87888e53ce5b7c8ad2/pytz-2019.3-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil>=2.6.1 in ./env/lib/python3.6/site-packages (from pandas)
Collecting numpy>=1.13.3 (from pandas)
  Using cached https://files.pythonhosted.org/packages/62/20/4d43e141b5bc426ba38274933ef8e76e85c7adea2c321ecf9ebf7421cedf/numpy-1.18.1-cp36-cp36m-manylinux1_x86_64.whl
Requirement already satisfied: six>=1.5 in ./env/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.18.1 pandas-1.0.1 pytz-2019.3
Collecting matplotlib
  Downloading https://files.pythonhosted.org/packages/e6/fc/5889757c4c70c552f56fddc8fbdcab565475686cdebdfa1806a9d54cd53b/matplotlib-3.2.0-cp36-cp36m-manylinux1_x86_64.whl (12.4MB)
    100% |████████████████████████████████| 12.4MB 127kB/s ta 0:00:01    56% |██████████████████              | 7.0MB 1.2MB/s eta 0:00:05
Collecting pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 (from matplotlib)
  Using cached https://files.pythonhosted.org/packages/5d/bc/1e58593167fade7b544bfe9502a26dc860940a79ab306e651e7f13be68c2/pyparsing-2.4.6-py2.py3-none-any.whl
Collecting cycler>=0.10 (from matplotlib)
  Using cached https://files.pythonhosted.org/packages/f7/d2/e07d3ebb2bd7af696440ce7e754c59dd546ffe1bbe732c8ab68b9c834e61/cycler-0.10.0-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.11 in ./env/lib/python3.6/site-packages (from matplotlib)
Requirement already satisfied: python-dateutil>=2.1 in ./env/lib/python3.6/site-packages (from matplotlib)
Collecting kiwisolver>=1.0.1 (from matplotlib)
  Using cached https://files.pythonhosted.org/packages/f8/a1/5742b56282449b1c0968197f63eae486eca2c35dcd334bab75ad524e0de1/kiwisolver-1.1.0-cp36-cp36m-manylinux1_x86_64.whl
Requirement already satisfied: six in ./env/lib/python3.6/site-packages (from cycler>=0.10->matplotlib)
Requirement already satisfied: setuptools in ./env/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib)
Installing collected packages: pyparsing, cycler, kiwisolver, matplotlib
Successfully installed cycler-0.10.0 kiwisolver-1.1.0 matplotlib-3.2.0 pyparsing-2.4.6
Collecting seaborn
  Using cached https://files.pythonhosted.org/packages/70/bd/5e6bf595fe6ee0f257ae49336dd180768c1ed3d7c7155b2fdf894c1c808a/seaborn-0.10.0-py3-none-any.whl
Requirement already satisfied: numpy>=1.13.3 in ./env/lib/python3.6/site-packages (from seaborn)
Collecting scipy>=1.0.1 (from seaborn)
  Using cached https://files.pythonhosted.org/packages/dc/29/162476fd44203116e7980cfbd9352eef9db37c49445d1fec35509022f6aa/scipy-1.4.1-cp36-cp36m-manylinux1_x86_64.whl
Requirement already satisfied: pandas>=0.22.0 in ./env/lib/python3.6/site-packages (from seaborn)
Requirement already satisfied: matplotlib>=2.1.2 in ./env/lib/python3.6/site-packages (from seaborn)
Requirement already satisfied: python-dateutil>=2.6.1 in ./env/lib/python3.6/site-packages (from pandas>=0.22.0->seaborn)
Requirement already satisfied: pytz>=2017.2 in ./env/lib/python3.6/site-packages (from pandas>=0.22.0->seaborn)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in ./env/lib/python3.6/site-packages (from matplotlib>=2.1.2->seaborn)
Requirement already satisfied: kiwisolver>=1.0.1 in ./env/lib/python3.6/site-packages (from matplotlib>=2.1.2->seaborn)
Requirement already satisfied: cycler>=0.10 in ./env/lib/python3.6/site-packages (from matplotlib>=2.1.2->seaborn)
Requirement already satisfied: six>=1.5 in ./env/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas>=0.22.0->seaborn)
Requirement already satisfied: setuptools in ./env/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib>=2.1.2->seaborn)
Installing collected packages: scipy, seaborn
Successfully installed scipy-1.4.1 seaborn-0.10.0

In [4]:
import pandas as pd   # pandas para estruturação

In [5]:
import matplotlib.pyplot as plt   # grafico

In [6]:
import seaborn as sns    # grafico

In [7]:
df_dados = pd.read_csv('gastos-deputados.csv', sep=';')

In [8]:
df_dados.head()

,txNomeParlamentar,ideCadastro,nuCarteiraParlamentar,nuLegislatura,sgUF,sgPartido,codLegislatura,numSubCota,txtDescricao,numEspecificacaoSubCota,...,numMes,numAno,numParcela,txtPassageiro,txtTrecho,numLote,numRessarcimento,vlrRestituicao,nuDeputadoId,ideDocumento
0,AVANTE,NaN,NaN,2019,NaN,NaN,56,13,FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR,0,...,6,2019,0,NaN,NaN,1609131,NaN,NaN,3175,6862742
1,AVANTE,NaN,NaN,2019,NaN,NaN,56,13,FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR,0,...,6,2019,0,NaN,NaN,1609175,NaN,NaN,3175,6862865
2,AVANTE,NaN,NaN,2019,NaN,NaN,56,13,FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR,0,...,6,2019,0,NaN,NaN,1609512,NaN,NaN,3175,6863041
3,AVANTE,NaN,NaN,2019,NaN,NaN,56,13,FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR,0,...,6,2019,0,NaN,NaN,1609551,NaN,NaN,3175,6863850
4,AVANTE,NaN,NaN,2019,NaN,NaN,56,13,FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR,0,...,7,2019,1,NaN,NaN,1616929,NaN,NaN,3175,6881372

In [16]:
qt_candidatos_uf = df_dados[['sgUF','ideCadastro']].groupby('sgUF', as_index=False).count()
qt_candidatos_uf

   sgUF  ideCadastro
0    AC         1696
1    AL         1715
2    AM         1526
3    AP         1308
4    BA        11677
5    CE         4805
6    DF          794
7    ES         2391
8    GO         2679
9    MA         3547
10   MG        17688
11   MS         2040
12   MT         2598
13   PA         3965
14   PB         3208
15   PE         7295
16   PI         2085
17   PR        11335
18   RJ        13031
19   RN         2465
20   RO         1787
21   RR         1351
22   RS        12798
23   SC         5407
24   SE         1562
25   SP        22356
26   TO         2229

In [18]:
qt_candidatos = df_dados[['sgUF','ideCadastro']].drop_duplicates()
qt_candidatos_uf = qt_candidatos.groupby('sgUF', as_index=False).count()
qt_candidatos_uf

   sgUF  ideCadastro
0    AC           14
1    AL           14
2    AM           14
3    AP           13
4    BA           55
5    CE           35
6    DF           15
7    ES           16
8    GO           27
9    MA           31
10   MG           80
11   MS           16
12   MT           15
13   PA           26
14   PB           18
15   PE           37
16   PI           15
17   PR           45
18   RJ           78
19   RN           12
20   RO           13
21   RR           12
22   RS           46
23   SC           27
24   SE           12
25   SP          102
26   TO           12

In [10]:
!pip install altair

Collecting altair
  Using cached https://files.pythonhosted.org/packages/a8/07/d8acf03571db619ff117df5730dd5c0b1ad0822aa02ad1084d73e2659442/altair-4.0.1-py3-none-any.whl
Requirement already satisfied: numpy in ./env/lib/python3.6/site-packages (from altair)
Requirement already satisfied: jsonschema in ./env/lib/python3.6/site-packages (from altair)
Requirement already satisfied: jinja2 in ./env/lib/python3.6/site-packages (from altair)
Requirement already satisfied: pandas in ./env/lib/python3.6/site-packages (from altair)
Requirement already satisfied: entrypoints in ./env/lib/python3.6/site-packages (from altair)
Collecting toolz (from altair)
  Using cached https://files.pythonhosted.org/packages/22/8e/037b9ba5c6a5739ef0dcde60578c64d49f45f64c5e5e886531bfbc39157f/toolz-0.10.0.tar.gz
Requirement already satisfied: pyrsistent>=0.14.0 in ./env/lib/python3.6/site-packages (from jsonschema->altair)
Requirement already satisfied: six>=1.11.0 in ./env/lib/python3.6/site-packages (from jsonschema->altair)
Requirement already satisfied: attrs>=17.4.0 in ./env/lib/python3.6/site-packages (from jsonschema->altair)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in ./env/lib/python3.6/site-packages (from jsonschema->altair)
Requirement already satisfied: setuptools in ./env/lib/python3.6/site-packages (from jsonschema->altair)
Requirement already satisfied: MarkupSafe>=0.23 in ./env/lib/python3.6/site-packages (from jinja2->altair)
Requirement already satisfied: pytz>=2017.2 in ./env/lib/python3.6/site-packages (from pandas->altair)
Requirement already satisfied: python-dateutil>=2.6.1 in ./env/lib/python3.6/site-packages (from pandas->altair)
Requirement already satisfied: zipp>=0.5 in ./env/lib/python3.6/site-packages (from importlib-metadata; python_version < "3.8"->jsonschema->altair)
Building wheels for collected packages: toolz
  Running setup.py bdist_wheel for toolz ... error
  Complete output from command /home/user/Documentos/Aula6/env/bin/python3 -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-c9snmo2p/toolz/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" bdist_wheel -d /tmp/tmp3ls3g09upip-wheel- --python-tag cp36:
  usage: -c [global_opts] cmd1 [cmd1_opts] [cmd2 [cmd2_opts] ...]
     or: -c --help [cmd1 cmd2 ...]
     or: -c --help-commands
     or: -c cmd --help

  error: invalid command 'bdist_wheel'

  ----------------------------------------
  Failed building wheel for toolz
  Running setup.py clean for toolz
Failed to build toolz
Installing collected packages: toolz, altair
  Running setup.py install for toolz ... done
Successfully installed altair-4.0.1 toolz-0.10.0

In [11]:
import altair as alt

In [19]:
alt.Chart(qt_candidatos_uf, title='titulo bla bla').mark_bar().encode(
    x=alt.X('sgUF', title='Estado'),
    y=alt.Y('ideCadastro', title='candidatos por estado'),
    color= alt.Color('sgUF')
)

alt.Chart(...)

In [20]:
qt_candidatos_part = df_dados[['sgPartido','ideCadastro']].drop_duplicates()
qt_candidatos_partido = qt_candidatos_part.groupby('sgPartido', as_index=False).count()
qt_candidatos_partido

        sgPartido  ideCadastro
0          AVANTE           11
1       CIDADANIA            8
2             DEM           54
3             MDB           63
4            NOVO            8
5           PATRI            5
6        PATRIOTA            5
7           PCdoB           13
8             PDT           37
9             PHS            7
10             PL           40
11            PMN            1
12           PODE           21
13             PP           68
14            PPL            1
15            PPS            8
16             PR           40
17            PRB           41
18           PROS           16
19            PSB           45
20            PSC           16
21            PSD           54
22           PSDB           62
23            PSL           59
24           PSOL           12
25             PT           78
26            PTB           26
27             PV            7
28           REDE            3
29   REPUBLICANOS            5
30        S.PART.            1
31  SOLIDARIEDADE           19

In [26]:
alt.Chart(qt_candidatos_partido, title='titulo bla bla2').mark_bar().encode(
    x=alt.X('sgPartido', title='Partido'),
    y=alt.Y('ideCadastro', title='candidatos por partido'),
    color= alt.Color('sgPartido')
)

alt.Chart(...)

In [108]:
uf_valor = df_dados[['sgUF','vlrDocumento']].groupby('sgUF', as_index=False).sum()
#uf_valor_decresc = uf_valor.sort_values('vlrDocumento',ascending=False).head(5)
uf_valor_top5 = uf_valor.nlargest(5,'vlrDocumento')
uf_valor_top5

   sgUF  vlrDocumento
25   SP   12406046.06
10   MG    9535581.18
4    BA    8783388.42
18   RJ    8374245.99
17   PR    6101249.43

In [111]:
uf_valor_top5_index = uf_valor_top5.reset_index()
uf_valor_top5_index[['sgUF','vlrDocumento']]

  sgUF  vlrDocumento
0   SP   12406046.06
1   MG    9535581.18
2   BA    8783388.42
3   RJ    8374245.99
4   PR    6101249.43

In [64]:
descricao_parlamentar = df_dados[['txtDescricao','txNomeParlamentar']].groupby('txtDescricao',as_index=False).count()
descricao_parlamentar_top5 = descricao_parlamentar.nlargest(5,'txNomeParlamentar')
descricao_parlamentar_top5

                                         txtDescricao  txNomeParlamentar
1                       COMBUSTÍVEIS E LUBRIFICANTES.              36679
4                               Emissão Bilhete Aéreo              32304
15          SERVIÇO DE TÁXI, PEDÁGIO E ESTACIONAMENTO              17213
10  MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE ...              11626
17                                          TELEFONIA              10966

In [70]:
descricao_valor = df_dados[['txtDescricao','vlrLiquido','vlrDocumento']].groupby('txtDescricao',as_index=False).sum()
descricao_valor_decresc = descricao_valor.sort_values('vlrDocumento',ascending= False)
descricao_valor_decresc

,txtDescricao,vlrLiquido,vlrDocumento
3,DIVULGAÇÃO DA ATIVIDADE PARLAMENTAR.,2.534436e+07,2.564601e+07
4,Emissão Bilhete Aéreo,2.219983e+07,2.219983e+07
9,LOCAÇÃO OU FRETAMENTO DE VEÍCULOS AUTOMOTORES,1.407712e+07,1.416700e+07
10,MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE ...,1.222164e+07,1.234680e+07
2,"CONSULTORIAS, PESQUISAS E TRABALHOS TÉCNICOS.",1.030597e+07,1.031992e+07
1,COMBUSTÍVEIS E LUBRIFICANTES.,9.365088e+06,9.506023e+06
17,TELEFONIA,2.635372e+06,2.752583e+06
12,PASSAGENS AÉREAS,2.272840e+06,2.279875e+06
16,SERVIÇOS POSTAIS,1.084664e+06,1.085100e+06
6,"HOSPEDAGEM ,EXCETO DO PARLAMENTAR NO DISTRITO ...",9.934856e+05,1.027827e+06
7,LOCAÇÃO OU FRETAMENTO DE AERONAVES,8.037900e+05,8.037900e+05
5,FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR,7.403974e+05,7.538102e+05
14,SERVIÇO DE SEGURANÇA PRESTADO POR EMPRESA ESPE...,5.881522e+05,5.883333e+05
15,"SERVIÇO DE TÁXI, PEDÁGIO E ESTACIONAMENTO",5.014725e+05,5.063635e+05
0,ASSINATURA DE PUBLICAÇÕES,1.690414e+05,1.753168e+05
8,LOCAÇÃO OU FRETAMENTO DE EMBARCAÇÕES,8.445000e+04,8.455000e+04
13,"PASSAGENS TERRESTRES, MARÍTIMAS OU FLUVIAIS",7.490875e+04,7.513911e+04
11,"PARTICIPAÇÃO EM CURSO, PALESTRA OU EVENTO SIMILAR",7.231804e+04,7.245668e+04

In [79]:
ano_menor_2016 = df_dados['numAno'] < 2016
df_dados[ano_menor_2016]

Empty DataFrame
Columns: [txNomeParlamentar, ideCadastro, nuCarteiraParlamentar, nuLegislatura, sgUF, sgPartido, codLegislatura, numSubCota, txtDescricao, numEspecificacaoSubCota, txtDescricaoEspecificacao, txtFornecedor, txtCNPJCPF, txtNumero, indTipoDocumento, datEmissao, vlrDocumento, vlrGlosa, vlrLiquido, numMes, numAno, numParcela, txtPassageiro, txtTrecho, numLote, numRessarcimento, vlrRestituicao, nuDeputadoId, ideDocumento]
Index: []

[0 rows x 29 columns]

In [82]:
df_dados[['numAno']].describe()   #não tem anos diferentes de 2019

         numAno
count  145823.0
mean     2019.0
std         0.0
min      2019.0
25%      2019.0
50%      2019.0
75%      2019.0
max      2019.0

In [98]:
leg_menor_2016 = df_dados['nuLegislatura'] < 2016
df_dados_menor_2016 = df_dados[leg_menor_2016]
qt_candidatos_part_2016 = df_dados_menor_2016[['sgPartido','ideCadastro']].drop_duplicates()
qt_candidatos_partido_2016 = qt_candidatos_part_2016.groupby('sgPartido', as_index=False).count()
qt_candidatos_partido_2016

        sgPartido  ideCadastro
0          AVANTE            6
1             DEM           44
2             MDB           54
3            NOVO            1
4           PATRI            5
5           PCdoB           10
6             PDT           25
7             PHS            7
8              PL            3
9            PODE           18
10             PP           57
11            PPL            1
12            PPS            8
13             PR           40
14            PRB           21
15           PROS           11
16            PSB           30
17            PSC            9
18            PSD           42
19           PSDB           49
20            PSL           20
21           PSOL            6
22             PT           65
23            PTB           16
24             PV            4
25           REDE            2
26   REPUBLICANOS            5
27  SOLIDARIEDADE           11

In [92]:
alt.Chart(qt_candidatos_partido_2016, title='titulo bla bla < 2016').mark_bar().encode(
    x=alt.X('sgPartido', title='Partido'),
    y=alt.Y('ideCadastro', title='candidatos por partido'),
    color= alt.Color('sgPartido')
)

alt.Chart(...)

In [106]:
df_dados[16:17]

,txNomeParlamentar,ideCadastro,nuCarteiraParlamentar,nuLegislatura,sgUF,sgPartido,codLegislatura,numSubCota,txtDescricao,numEspecificacaoSubCota,...,numMes,numAno,numParcela,txtPassageiro,txtTrecho,numLote,numRessarcimento,vlrRestituicao,nuDeputadoId,ideDocumento
16,AVANTE,NaN,NaN,2019,NaN,NaN,56,13,FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR,0,...,6,2019,0,NaN,NaN,1610614,NaN,NaN,3175,6865880